@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.visionAnimation {
  animation-name: visionAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

.missionAnimation {
  animation-name: missionAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

.valueAnimation {
  animation-name: valueAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes valueAnimation {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
@keyframes visionAnimation {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes missionAnimation {
  0% {
    top: 150px;
  }
  100% {
    top: 0px;
  }
}

.qualityTeachingImageAnimation {
  animation-name: qualityTeachingImageAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes qualityTeachingImageAnimation {
  0% {
    right: 100px;
  }
  100% {
    right: 0;
  }
}

.qualityTeachingTextAnimation {
  animation-name: qualityTeachingTextAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes qualityTeachingTextAnimation {
  0% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}

.introParagraphAnimation {
  animation-name: introParagraphAnimation;
  animation-duration: 2s;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes introParagraphAnimation {
  0% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}
